/* Logo Font */
@font-face {
    font-family: logoFont;
    src: url("fonts/logo/logo.ttf") format("truetype"),
         url("fonts/logo/logo.woff") format("woff2");
}

/* Message Board */
@font-face {
    font-family: messageBoard;
    src: url("fonts/message_board/Agatho_Thin.ttf") format("truetype"),
         url("fonts/message_board/Agatho_Thin.woff2") format("woff2");
}

body {
    min-height: 100vh;
    background-image: linear-gradient(#bfc2c7, #E2E5E5, #bfc2c7);
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}

div.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000; /* Initial black background */
    opacity: 1; /* Fully opaque initially */
    transition: opacity 1.5s ease-out; /* Transition property for opacity over 1.5 seconds */
    z-index: 9999; /* Set a high z-index to make sure it covers other elements initially */
}

div.scanLines {
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 2px, transparent 2px, transparent 4px);
}

div.siteTitle {
    pointer-events: none;
    font-family: logoFont;
    font-size: 500%;
    text-shadow: 2px 2px 3px #adadad;
    text-align: center; 
    position: relative;
    top: 1%;
    width: auto;
    /* background-color: #E9EBEB; */
}

#clock {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0; 
    color: transparent; 
}
#clock img {
    width: 60px; 
    height: auto; 
    margin: -10px;
}

textarea {
    resize: none;
    background: transparent;
    background: url("/images/messages/blue_inside.png") no-repeat;
    background-size: cover;
    border-style: double;
    font-weight: bolder;
    border: 2px solid #84CEFF;
    font-family: messageBoard;
    cursor: url("/images/Pointer/point_small.png") 20 8, auto;
}

.messageHeader{
    width: 100%;
    height: 30px; 
    background-color: #84CEFF;   
}

.message {
    position: absolute;
    z-index: 2;
}

#messageBox01{
    top: 20px; 
    left: 20px; 
}

#messageBox02{
    top: 430px; 
    left: 130px; 
}

#messageBox03{
    top: 200px; 
    left: 240px; 
}

#messageBox04{
    top: 350px; 
    left: 850px; 
}

#messageBox05{
    top: 460px; 
    left: 460px; 
}

#messageBox06{
    top: 270px; 
    left: 570px; 
}