/* Logo Font */
@font-face {
    font-family: logoFont;
    src: url("fonts/logo/logo.ttf") format("truetype"),
         url("fonts/logo/logo.woff") format("woff2");
}

/* Message Board */
@font-face {
    font-family: messageBoard;
    src: url("fonts/message_board/Agatho_Narrow.ttf") format("truetype"),
         url("fonts/wii_sports/wii_sports_B.woff2") format("woff2");
}

div.siteTitle {
    font-family: logoFont;
    font-size: 500%;
    text-shadow: 2px 2px 3px #adadad;
    text-align: center; 
    position: relative;
    top: 1%;
    width: auto;
    /* background-color: #E9EBEB; */
}

div.message {
    font-family: messageBoard;
    font-size: 100%;
    text-shadow: 2px 2px 3px #adadad;
    text-align: center; 
    position: relative;
    
}

body {
    min-height: 100vh;
    background-image: linear-gradient(#bfc2c7, #E2E5E5, #bfc2c7);
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}

div.scanLines {
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 2px, transparent 2px, transparent 4px);
}

#envelope {
    position: absolute;
    z-index: 3;
    text-align: center;
}

textarea {
    resize: none;
    background: transparent;
    background: url("/images/messages/blue_inside.png") no-repeat;
    background-size: cover;
    border: 2px solid #84CEFF;
    font-family: messageBoard;
}

.messageHeader{
    width: 100%;
    height: 30px; 
    background-color: #84CEFF;   
}

#message {
    position: absolute;
    top: 50px; 
    left: 50px; 
    z-index: 2;
}
